### SparkRDD

In [2]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder\
                    .master("local")\
                    .appName('rddexample')\
                    .getOrCreate()
sc=spark.sparkContext

In [6]:
#Create RDD using sparkContext.parallelize()
data = [1,2,3,4,5,6,7,8,9,10,11,12]
rdd=spark.sparkContext.parallelize(data)

In [7]:
#Create RDD from text file
rdd2 = spark.sparkContext.textFile("test.txt")
#Create RDD as single record
rdd3 = spark.sparkContext.wholeTextFiles("test.txt") # key la ten file, value la noi dung

In [8]:
# Creates empty RDD with no partition    
rdd = spark.sparkContext.emptyRDD 
rdd2 = spark.sparkContext.parallelize([],10) #This creates 10 partitions

### Pyspark RDD operations

#### RDD Transformations with example

In [9]:
tf = spark.sparkContext.textFile("test.txt")
t = tf.flatMap(lambda x: x.split(" ")).map(lambda x : (x,1)).reduceByKey(lambda a,b: a+b)

#### RDD Actions

In [10]:
print("Count : "+str(t.count()))

Count : 16

In [11]:
firstRec = t.first()
print("First Record : "+str(firstRec[0]) + ","+ str(firstRec[1]))

First Record : toi,1

In [12]:
datMax = t.max()
print("Max Record : "+str(datMax[0]) + ","+ str(datMax[1]))

Max Record : yeu,1

### Spark DataFrame

In [13]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)

In [15]:
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+